* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 6px;
}

body {
	height: 900px;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	background-color: #2C3E50;
}

a {
	text-decoration: none;
	color:#2C3E50;
}

ul{
  list-style-type: none;
  text-align: center;
}

h1 {
	font-family: 'Long Cang', cursive;
	font-size: 80px;
	margin-bottom: 30px;

}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

.social-bar{
  position: fixed;
  width: 60px;
  margin-top: 100px;
  transition: all 0.3s linear;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,.4);
}
.social-bar li{
	height: 60px;
	position:relative;
  }
  .social-bar li a{
	color: white;
	display: block;
	height: 100%;
	width: 100%;
	line-height: 60px;
	padding-left:25%;
	border-bottom: 1px solid rgba(0,0,0,.4);
	transition: all .3s linear;
  }
  .social-bar li:nth-child(1) a{
	background: #792f2f38;
  }
  .social-bar li:nth-child(2) a{
	background: #792f2f38;
  }
  .social-bar li:nth-child(3) a{
	background: #792f2f38;
  }
 
  .social-bar li a i{
	position:absolute;
	top: 17px;
	left: 20px;
	font-size: 27px;
  }
  .social-bar ul li a span{
	display: none;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
  }
  .social-bar a:hover {
	z-index:1;
	width: 200px;
	border-bottom: 1px solid rgba(0,0,0,.5);
	box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
  }
  .social-bar ul li:hover a span{
	padding-left: 30%;
	display: block;
  }
  
.btn {
	
	margin-top:4rem; 	
	font-weight: 400;
	display: inline-block;
	border:2px solid transparent;
	border-radius: .3rem;
	cursor: pointer;
	transition: all .5s;
}

.btn-social {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	font-size: 2rem;
	line-height: 2rem;
}
.btn-outline {	
	color:#fff;
	border-color: #fff;	
	background-color: transparent;
}

.btn-outline:hover {
	color: #212529;
	background-color: #fff;	
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: .5rem;
	padding-right: .5rem;
	
}

@media (min-width: 576px){

	.container{
		max-width: 540px;
	}
	html {
		font-size: 7px;
	}
	

}

@media (min-width: 768px){
	.container{
		max-width: 720px;
	}
	html {
	font-size: 8px;
	}
}

@media (min-width: 992px){
	.container{
		max-width: 960px;
	}
	html {
		font-size: 9px;
	}
}

@media (min-width: 1200px){
	.container{
		max-width: 1140px;
	}
	html {
		font-size: 10px;
	}
}

.text-uppercase {
	text-transform: uppercase;
  
}


/*navbar*/

nav {
	
	text-align: right;
  	width: 100%;
	font-family: 'Lato', sans-serif;
	background-color: #2C3E50;
	color: #fff;
	padding-top: 2.0rem;
	padding-bottom: 2.0rem;
	position:fixed; z-index:2;
}

#logo-box{
  float: left;
  padding-top: .5rem;
  font-family: 'Long Cang', cursive;
  font-size: 3.2rem;
}

#logo-box .logo {
	color: rgb(241, 240, 247);
	font-weight: 700;
	font-size: 3.2rem;
}


#nav-links {
	float: right;
	text-align: center;
}

#nav-links .nav-item {
	float: right;
	margin: .2rem;
}

#nav-links .nav-link {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 700;
	display: block;
	padding: 1.6rem;
	letter-spacing: .2rem;
	transition: color .3s;
}

#nav-links .nav-link:hover {
	color: #189bbc;
}

#nav-links .nav-icon{
	display: none;
}

@media (max-width: 992px){
	#logo-box{
		float: none;
		text-align: left;
	}
	#nav-links{
		float: none;
	}
	#nav-links li:not(:first-child){
		display: none;
	}
	#nav-links .nav-link{
		font-size: 2rem;
		padding-left: 0;
	}
	#nav-links .nav-icon{
		display:block;
		position: absolute;
		top: 10px;
		right: 5px;
		font-size: 3rem;
	}
}

/* HEADER */
header{
	background: url(https://scontent.fada2-2.fna.fbcdn.net/v/t31.0-8/18216458_1544911698875706_8690540763916425087_o.jpg?_nc_cat=108&ccb=3&_nc_sid=2d5d41&_nc_ohc=zzfbEeBlY7oAX_PaTQp&_nc_ht=scontent.fada2-2.fna&oh=d8c0f7fcbe4d23d0a26c65c64c32b3ca&oe=6052AC64);
	width: 100%;
	height: 800px;
	padding-top: calc(102px + 3rem);
	padding-bottom: 112px;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
/*	border-radius: 0 0 85% 85% / 30%; */
	text-align: right;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
 /* background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%); */
	
}

 
/* About */
#About{
	height: 700px;
	padding-top: 2rem;
	padding-bottom: 10rem;
	text-align: center;
	background-image: url(./img/5.jpg);
	background-position: center;
	background-size: cover;
	
}
#About h1{
	color:rgb(255, 255, 255);
	font-family: 'Lato', sans-serif;
}

#About h2{
	font-size: 3.8rem;
	color: #2C3E50;
}

.line-dark{
	border: none;
	border-top: .4rem solid;
	max-width: 65rem;
	margin: 2.5rem auto;
	overflow: auto;
	height: 0;
	color: rgba(255, 250, 250, 0.651);
}

.line-dark::after{
	content:"\f79f";
	font-family: "Font Awesome 5 Free";
	color: rgb(72, 93, 150);
	font-weight: 900;
	font-size: 3.2rem;
	position: relative;

}

.tilesWrap {
	padding: 0;
	margin: 50px auto;
	list-style: none;
	text-align: center;
}
.tilesWrap li {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: 'helvetica', san-serif;
	min-height: 25vh;
	background: #262a2b;
	border: 1px solid #252727;
	text-align: left;
}
.tilesWrap li h2 {
	font-size: 114px;
	margin: 0;
	position: absolute;
	opacity: 0.2;
	top: 50px;
	right: 10px;
	transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
	font-size: 20px;
	color: #b7b7b7;
	margin-bottom: 5px;
}
.tilesWrap li p {
	font-size: 16px;
	line-height: 18px;
	color: #b7b7b7;
	margin-top: 5px;
}
.tilesWrap li:hover h2 {
	top: 0px;
	opacity: 0.6;
}

.tilesWrap li:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: #fff;
	transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
	content: '';
	position: absolute;
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.02);
}
.tilesWrap li:nth-child(1):before {
	background: #c9ffbf57;
background: -webkit-linear-gradient(to right, #ffafbcea, #c9ffbfd0);
background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}
.tilesWrap li:nth-child(2):before {
	background: #995b70;
background: -webkit-linear-gradient(to right, #b44523a9, #f2709b86);
background: linear-gradient(to right, #884530ad, #f2709bdc);
}
.tilesWrap li:nth-child(3):before {
	background: #a1564d;
background: -webkit-linear-gradient(to right, #ffc400b6, #c213001a);
background: linear-gradient(to right, #ffc40052, #c2130070);
}
.tilesWrap li:nth-child(4):before {
	background: #da9ea5;
background: -webkit-linear-gradient(to right, #0abfbc6e, #fc354c52);
background: linear-gradient(to right, #0abfbc62, #fc354c4d);
}

/*Şubeler */

.location{
	height: 700px;
	padding-top: 2rem;
	padding-bottom: 10rem;
	text-align: center;
	background-image: url(./img/12.jpg);
	background-position: center;
	background-size: cover;
	
}
.location h1{
	color: rgb(253, 249, 249);
	font-family: 'Lato', sans-serif;
}
.location h2{
	font-size: 3.8rem;
	color: #2C3E50;
}

.adres {
	padding: 0;
	margin: 50px auto;
	list-style: none;
	text-align: center;
}

.adres li {
	display: inline-block;
	width: 20%;
	min-width: 400px;
	max-width: 230px;
	padding: 50px 20px 60px;
	position: relative;
	vertical-align: top;
	margin: 5px;
	font-family: 'helvetica', san-serif;
	min-height: 25vh;
	background: #e2d3d3;
	border: 4px cornsilk #dbadb8;
	text-align:center;
}
 
/* Footer */
footer {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: #2C3E50;
	color: #fff;
	text-align: center;
}

footer h4 {
	font-size: 2rem;
}

footer p {
	font-size: 1.5rem;
	margin-top: 0.5rem;
}

footer li {
	display: inline-block;
	margin-right: 1rem;
}
.col {
	float: left;
	width: 30.33333%;	
	min-width: 300px;
	padding: 15px;
}
 